<%= render 'shared/page_header', children:  @player.name %>

<div class="container">
  <div class="row">
    <%# side_bar_menu %>
    <div class="col-3 position-sticky ">
      <div class="d-flex gap-1 flex-column">
        <p><b>Location</b> : <%= @player.nationality %></p>
        <p><b>Status</b> : <% if @player.available %> Available </p>
                            <% else %>
            Not available
          <% end %>

        <%= link_to edit_player_path(@player), class: 'btn btn-light' do %>
          Edit player <i class="fa-solid fa-arrow-right" style="color: var(--bs-primary);"></i>
        <% end %>

        <%= link_to player_path(@player), class: 'btn btn-light',
          style: 'color: white; background: linear-gradient(284.38deg, #be000a, #ff0203);',
          data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} do %>
          Delete player <i class="fa-solid fa-arrow-right" style="color: white;"></i>
        <% end %>

        <%= link_to dashboard_path(@player), class: 'btn btn-light' do %>
          Return dashboard <i class="fa-solid fa-arrow-right" style="color: var(--bs-primary);"></i>
        <% end %>
      </div>
    </div>

    <div class="col-9 pe-0">
      <div class="row">
        <div class="row gap-2 w-100 mb-3">
          <div class="d-flex flex-column justify-content-between py-3 px-2 position-relative stats__top-list" style="border: 0.1rem solid var(--bs-gray-200)">
            <div class="mb-1">Matches played</div>
            <div class="h2 fw-bold py-3 ps-2">1</div>
          </div>

          <div class="d-flex flex-column justify-content-between py-3 px-2 position-relative stats__top-list" style="    border: 0.1rem solid var(--bs-gray-200)">
            <div class="mb-1">Goals</div>
            <div class="h2 fw-bold py-3 ps-2"><%= rand(1..5) %></div>
          </div>
        </div>

        <ul class="row gap-2 w-100 mb-3 list-unstyled stats__regular-list">
          <li class="col-4">
            <div class="all-stats__list-container rounded">
              <div class="h4 fw-bold py-3 ps-2">
                Attack accuracy
              </div>

              <div class="d-flex justify-content-between p-2">
                <span class="">Field Shots</span>
                <span class="fw-bold">60%</span>
              </div>

              <div class="d-flex justify-content-between p-2">
                <span class="">Center shot</span>
                <span class="fw-bold">45%</span>
              </div>

              <div class="d-flex justify-content-between p-2">
                <span class="">6M direct shot</span>
                <span class="fw-bold">75%</span>
              </div>

              <div class="d-flex justify-content-between p-2">
                <span class="">Extra player shot</span>
                <span class="fw-bold">20%</span>
              </div>

              <div class="d-flex justify-content-between p-2">
                <span class="">Field exclusion</span>
                <span class="fw-bold">34%</span>
              </div>

              <div class="d-flex justify-content-between p-2">
                <span class="">Center position exclusion</span>
                <span class="fw-bold">60%</span>
              </div>

              <div class="d-flex justify-content-between p-2">
                <span class="">Penalty exclusion</span>
                <span class="fw-bold">15%</span>
              </div>

              <div class="d-flex justify-content-between p-2">
                <span class="">Penalty</span>
                <span class="fw-bold">83%</span>
              </div>

              <div class="d-flex justify-content-between p-2">
                <span class="">Counter Attack</span>
                <span class="fw-bold">33%</span>
              </div>
            </div>
          </li>

          <li class="col-4">
            <div class="all-stats__list-container">
              <div class="h4 fw-bold py-3 ps-2">
                Defense accuracy
              </div>

              <div class="d-flex justify-content-between p-2">
                <span class="">Field exclusion</span>
                <span class="fw-bold">44%</span>
              </div>

              <div class="d-flex justify-content-between p-2">
                <span class="">Center position exclusion</span>
                <span class="fw-bold">87%</span>
              </div>

              <div class="d-flex justify-content-between p-2">
                <span class="">Penalty exclusion</span>
                <span class="fw-bold">46%</span>
              </div>

              <div class="d-flex justify-content-between p-2">
                <span class="">Turnover foul</span>
                <span class="fw-bold">30%<span>
              </div>

              <div class="d-flex justify-content-between p-2">
                <span class="">Steal</span>
                <span class="fw-bold">65%</span>
              </div>

              <div class="d-flex justify-content-between p-2">
                <span class="">Goals conceded</span>
                <span class="fw-bold">76%</span>
              </div>

              <div class="d-flex justify-content-between p-2">
                <span class="">Saves</span>
                <span class="fw-bold">74%</span>
              </div>

              <div class="d-flex justify-content-between p-2">
                <span class="">Blocked shots</span>
                <span class="fw-bold">20%</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
